* {
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: Pepper;
    src: url(../fonts/Pepper\ Sauce.ttf)
}
div.logo {
    font-family: Pepper;
    padding-top: 12px;
    color:rgb(0, 0, 230);
    text-shadow: 1px 1px 1px rgb(0, 0, 0), 2px -2px 2px red;
    font-size: 30px;
}

/* Header */
header {
    background-color: rgba(0, 0, 0, 0.897);
    box-shadow: 0 2px 3px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline-block;
    /*background-color: rgba(0, 32, 32, 0.336);*/
    border-radius: 0px;
}
ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    /*border-bottom: solid 2px #000 ;*/
}
ul li a:hover {
    /*background-color: rgba(0, 0, 0, 0.897);*/
    /*border-radius: 5px;*/
    color:rgb(255, 255, 255);
    /*border-bottom: solid 2px rgb(0, 0, 0) ;*/
}

/* Main */
main {
    /*display: none;*/
    background-image: url(../img/paris.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px;
    text-align: center; /* center, right, left */
    color: #fff;
    position: relative;
}

.transparent{
    /*background: linear-gradient(to right top, rgba(13, 13, 197, 0.329) 20%, black, red)  ;*/
    opacity: 1;
    /* position: absolute;
    right: 40px;
    bottom: 0;
    z-index: 1; */
    width: 150px;
    border: red solid 2px;
    margin: 0 auto;
    color: black;
    /*max-height: auto;
    overflow: auto; 
    */
    transform: rotate(0deg);
    transition-property: width color transform;
    transition-duration: 300ms;
    transition-delay: 0s;
}

.transparent:hover{
    width: 300px;
    color: white;
    transform: rotate(180deg);
}

.position {
    background: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;

    /*z-index: 2;*/
}

/* Link */
.menu2 {
    background-color: aqua;
    display: block;
}

.sub-menu{
    background-color: brown;
    display: none;
}

.sub-menu:hover {
    display: block;
}

.menu2:hover ~ .sub-menu{
    display: block;
}

/* Animação */

.melo {
    position: fixed;
    top: 0;
    left: 100px;
    animation-name: animacao;
    animation-duration: 5s;
    animation-delay: 2s;
}
@keyframes animacao {
    from {
      top:0;
      left: 100px;  
    }
    to{
      top: 0;
      left: 500px;  
    }
}

